/*body {
    margin:10px;
}*/


.eventForm {
    margin-bottom: 20px;
}

.buttom {
    margin-top:10px;
}

.eventTime {
    font-size: 18px;
    margin-top: 2px;
}

.listForm {
    margin-bottom: -10px;
}

.listCounter {
    font-size: 18px;
    margin-top: 2px;
    color:black;
}

/*EmtyLineView css*/

.ELVh2 {
    text-align: center;
}
.ELVtable {
    width:100%
}
.ELVtableDiv1 {
    width: 96%;
    margin:auto;
    display: table;
    margin-bottom: -5px;
    table-layout: fixed;
}
.ELVtableDiv2 {
    display: table-cell;
}
.ELVtableP1 {
    margin-left: 50%
}
.ELVtableP2 {
    margin-left: -13px;
}
.ELVrawDiv1 {
    width: 96%;
    margin: auto;
    display: table;
    table-layout: fixed;
}
.ELVrawDiv2 {
    border-right: 1px solid black;
    display: table-cell;
}
.ELVrawDiv3 {
    display: table-cell;
}
.ELVrawDiv4 {
    border-left: 1px solid black;
    height: 10px;
    display: table-cell;
}
.ELVrawDiv5 {
    width: 96%;                    
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid black;
}

/*TimeLineView css*/

.TLVtable {
    width:100%; border-spacing: 0;
    border-collapse: separate !important;
}

.TLVtableDiv1 {
    width: 96%;
    margin:auto;
    display: table;
    table-layout: fixed;
    margin-bottom: 89px;
}
.TLVtableDiv2 {
    width: 96%;
    margin:auto;
    display: table;
    table-layout: fixed;
    margin-bottom: 33px;
}
.TLVtableDiv3 {
    background-color: #5bc0de;
    display: table-cell;
    border-radius: 6px 0px 0px 6px;
    -moz-border-radius: 6px 0px 0px 6px;
    -webkit-border-radius: 6px 0px 0px 6px;
    border: 1px solid #555;
    border-right: 0;
}
.TLVtableP1 {
    color: #333;
    text-align: center;
    margin-top: 10px;
}
.TLVtableP2 {
    color: #333;    
    text-align: center;
}
.TLVtableDiv4 {
    background-color: #5bc0de;
    display: table-cell;
    border-radius: 0px 6px 6px 0px;
    -moz-border-radius: 0px 6px 6px 0px;
    -webkit-border-radius: 0px 6px 6px 0px;
    border: 1px solid #555;
    border-left: 0;
}
.TLVtableDiv5 {
    background-color: #5bc0de;
    display: table-cell;
    border: 1px solid #555;
    border-left: 0;
    border-right: 0;
}
.TLVtableDiv6 {
    display: table-cell;
}
.TLVtableDiv7 {

}


/*Calendar css*/

body {
			/*background: #efefef;*/
		}
	
		section {
			width:500px;
			position: relative;
			margin: 0 auto;
			background: #fff;
			padding:10px;
			text-align: center;
			font-family: Helvetica, Arial, Sans-serif;
		}
		
		table {
			margin-top:25px;
			-webkit-user-select:none;		
		}
		
			.days  td {
				height:15px !important;
				text-align: center;
				font-size: 14px;
				padding:5px 0 5px 0 !important;
				color:#555;
				font-weight: bold;  
			}
		
			.month td {
				margin:0px;
				border-top:1px solid #adb0b1;
				border-left:1px solid #adb0b1;
				background: #d4d7d8;
				position: relative;
				height:50px;
				padding:20px 0 0 0;
				width:70px;
			}
			
				.month td:hover:not(.today) {
					background: #cbd1d3;
				}
			
				.planner .blur {
					background:#eceded;
				}
				
				.planner .today {
					background: #c4cacc;
				}
				
			.month td a.date {
				position: absolute;
				top:5px;
				right:5px;
				font-size: 12px;
				color:#9fa1a1;
			}
			
			p {
				font-size: 12px;
				color: #999;
			}
